.snakemake

data/*
*errors.csv

# ingest
ingest/.snakemake/
ingest/benchmarks/
ingest/logs/
ingest/data/*
!ingest/data/references/
ingest/data/references/nextclade.tsv


# all results and temporary folders
*/results/
*/temp/

auspice/*/*_gene*
auspice/*.*


scripts/__pycache__/

*.code-workspace

scripts/bin/     
.env

Simplot

strain_accession.txt

backup*

temp/*

#scicore
*slurm.sh
slurm_*
*.log
run.stats

*.log
compare-alignments

# data to include
!/data/date_last_updated.txt
!/data/local_accn.txt
!/data/references
!/ingest/data/references/

## part of nextstrain-builds-data repo
data/meta_ENPEN.tsv
data/meta_public.tsv
data/subgenotypes_rivm.csv
data/clades_vp1.tsv
data/strain_names_previous_run.tsv

auspice/enterovirus_A71_whole-genome.json
auspice/enterovirus_A71_vp1.json
