.snakemake


data/*
auspice/

*errors.csv

ingest/.snakemake/
ingest/benchmarks/
ingest/logs/
ingest/vendored-old/


*/results/
*/temp/

ingest/data/*
!ingest/data/references/
ingest/data/references/reference_a71_manual.gff3
ingest/data/references/nextclade.tsv

scripts/__pycache__/

*.code-workspace

scripts/bin

.env

Simplot

strain_accession.txt