.snakemake

# data and auspice outputs
data/*
!data/meta_public.tsv
auspice/

*errors.csv

# ingest
ingest/.snakemake/
ingest/benchmarks/
ingest/logs/
ingest/vendored-old/
ingest/data/*
!ingest/data/references/
ingest/data/references/reference_a71_manual.gff3
ingest/data/references/nextclade.tsv

# all results and temporary folders
*/results/
*/temp/

scripts/__pycache__/

*.code-workspace

scripts/bin

.env

Simplot

strain_accession.txt